
.about {
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .aboutpage-container {
        width: 70%;
        margin: 2rem 0;
        display: flex;
        flex-direction: column;

        .aboutpage-title {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
            color: $black;
        }

        .aboutpage-content {
            font-size: 1.2rem;
        }
    }
}