
.account {
    min-height: calc(100vh - 90px);
    padding: 3rem 8%;
    position: relative;

    .account-header {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 1rem 0;
        margin-bottom: 3rem;
        border-bottom: 1px solid $black;

        .account-title {
            font-size: 2.5em;
            font-weight: 600;
            color: $black;
            margin-left: 1rem;
        }

        .account-email {
            font-size: 1.5em;
            color: $black;
            margin-left: 2rem;
        }

        .account-edit-link {
            position: absolute;
            bottom: 1rem;
            right: 3rem;
            text-decoration: none;
            color: $blue300;
            border-bottom: 1px solid transparent;
            transition: color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;

            &:hover {
                color: $blue400;
                border-bottom-color: $blue400;
            }
        }
    }

    .account-orders-title {
        width: max-content;
        font-size: 1.5em;
        font-weight: 600;
        color: $blue400;
        border-bottom: 2px solid $blue400;
        padding-right: 2rem;
        margin-bottom: 3rem;
        margin-left: 2rem;
    }

    .account-orders-empty {
        font-size: 1.2em;
        color: $black;
        text-align: center;
    }

    .account-orders-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        background-color: $lightGray;
        border-radius: 4px;
        overflow: hidden;

        .account-orders-header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 0.5rem;
            font-size: 1.3em;
            font-weight: 700;
            color: white;
            background-color: $blue400;
            border-bottom: 1px solid $black;

            .account-orders-header-item {
                margin-left: 1rem;
            }
        }
    }

    .account-actions {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }
}

// account order item

.account-order-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid $black;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: $blue200;
    }

    &:last-child {
        border-bottom: none;
    }

    .account-order-item-item {
        padding-top: 0.5rem;
        margin-left: 2rem;
        font-size: 1.4em;
        font-weight: 500;
        color: $black;
    }
}