
.admin-container {
    min-height: calc(100vh - 90px);
    padding: 3rem 2rem;
    position: relative;

    .admin-title {
        font-size: 2.5em;
        font-weight: 600;
        color: $black;
        margin-bottom: 4rem;
    }

    .admin-container-actions {
        position: absolute;
        bottom: 3rem;
        right: 3rem;
    }
}

.admin-user-form {
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
    background-color: $lightGray;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    .admin-user-form-btn {
        padding: 4px 30px;
        background-color: $blue200;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out, font-weight 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            background-color: $blue300;
            font-weight: 700;
            transform: scale(1.02);
        }
    }
}