
.admin-user-detail {
    padding: 3rem 18%;
    min-height: calc(100vh - 90px);

    .admin-user-detail-header {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-bottom: 3rem;
        margin-bottom: 3rem;

        .admin-user-detail-title {
            font-size: 2.5em;
            font-weight: 600;
            color: $black;
        }

        .admin-user-detail-email {
            font-size: 2em;
            font-weight: 600;
            color: $black;
        }

        .admin-user-detail-edit {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 1.2em;
            font-weight: 600;
            color: $blue200;
            text-decoration: none;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $blue300;
            }
        }
    }

    .admin-user-detail-orders-title {
        font-size: 2em;
        font-weight: 600;
        color: $black;
        margin-bottom: 1rem;
    }

    .admin-user-detail-orders-container {
        width: 90%;
        margin: 3rem auto;
        background-color: $lightGray;
        border-radius: 10px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        overflow: hidden;

        .admin-user-detail-orders-header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-size: 1.5em;
            font-weight: 600;
            color: white;
            background-color: $black;

            .admin-user-detail-orders-header-item {
                margin-left: 1rem;
                margin-bottom: -0.01rem;
                border-right: 1px solid white;

                &:last-child {
                    border-right: none;
                }
            }
        }

        .admin-user-detail-order-chart-item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-size: 1.5em;
            font-weight: 600;
            color: $black;
            border-bottom: 1px solid $black;
            text-decoration: none;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: $blue100;
            }

            &:last-child {
                border-bottom: none;
            }

            .admin-user-detail-chart-item-title {
                margin-left: 2rem;
                margin-bottom: -0.01rem;
                border-right: 1px solid $black;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    .admin-user-detail-actions {
        position: absolute;
        bottom: 3rem;
        right: 3rem;
    }
}