
@import './admin-menu.scss';
@import './admin.scss';
@import './admin-chart.scss';
@import './admin-order-detail.scss';
@import './admin-user-detail.scss';
@import './admin-order-form.scss';

.admin-layout {
    
    .admin-layout-body {
        min-height: calc(100vh - 90px);
        background-color: $grey;
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}