
$black: #161616;
$black2: rgb(3, 3, 3);
$blue500: #051923;
$blue400: #003554;
$blue300: #006494;
$blue200: #0582ca;
$blue100: #00a6fb;
$silver: #c0c0c0;
$lightGray: rgb(248, 246, 246);
$grey: rgb(206, 206, 206);