@import 'bootstrap';
@import 'bootstrap-icons';
// @import url('https://fonts.googleapis.com/css2?family=Lora&family=Titillium+Web:wght@300&display=swap');

@import './styles/variables.scss';

@import './styles/admin-layout.scss';

@import './styles/main-navigation.scss';

@import './styles/auth.scss';

@import './styles/home.scss';
@import './styles/about.scss';
@import './styles/contact.scss';
@import './styles/error.scss';
@import './styles/main-footer.scss';
@import './styles/account.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
